<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fondamento">
  <style>
    body {
    font-family: 'Fondamento', cursive;
    }
  </style>
<head>
  <title>Character Generator</title>
</head>
<body>
  <h1>Welcome, traveler!</h1>
  <p>This is a useful tool for Dungeon Masters and players alike.</p>
  <p>This generator can quickly create NPCs for a game you're running, or help give you ideas about a new character you'd like to play.</p>
  <button onclick="newChar()">New Character</button>

  <div id="charGenDisplay">
    <!-- characters generated will display here -->
  </div>

  <script src="app/assets/javascripts/javascript.js"></script>
</body>
</html>