<h1>Welcome, traveler!</h1>
<p>This is a useful tool for Dungeon Masters and players alike.</p>
<p>This generator can quickly create NPCs for a game you're running, or help give you ideas about a new character you'd like to play.</p>
